{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">

<div class="auth-container">
    <div class="auth-card">
        <h1>👋 Ви впевнені, що хочете вийти?</h1>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn-auth logout">Вийти</button>
        </form>

        <p class="auth-footer">
            <a href="{% url 'home' %}">⬅️ Повернутися на головну</a>
        </p>
    </div>
</div>
{% endblock %}